
.tool-box {
  background-color: white;
  text-align: center;
  width: 100%;
}

.color-picker {
  width: 1.5rem;
  height: 1.5rem;
  padding: .5rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

#color-picker-wrapper {
  cursor: pointer;
}
