<div fxLayout="row" fxLayoutAlign="center" class="tool-box">
  <div fxFlex="20%">
    <label id="color-picker-wrapper"><input
      class="color-picker"
      [cpDisableInput]="true"
      [(colorPicker)]="initColor"
      (colorPickerChange)="onChangeColorHex8($event)"
      [cpPosition]="'top'" [style.background]="initColor"
      [readonly]="true"
    /></label>
  </div>
  <div fxFlex="20%">
    <mat-slider thumbLabel min="1" max="48" step="2" value="3" (input)="onChangeSize($event)"></mat-slider>
  </div>

  <div fxFlex="20%" style="font-size: 1.75em" *ngIf="activeWord !== undefined">{{activeWord}}</div>
  <div fxFlex="20%">
    <p style="padding: 0; margin: 0; font-size: 1.25em">{{timerValue}}</p>
  </div>
</div>
<mat-progress-bar mode="determinate" [value]="100 - (timerValue * 1.65)" aria-label="progress"></mat-progress-bar>
