

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" style="height: 40vh;">
  <div fxFlex="60%" class="left-panel">
    <mat-list class="room-list" style="overflow-y: auto; height: 100%">
      <mat-list-item (click)="openJoin(room)" *ngFor="let room of activeRooms">
        <mat-card style="width: 100%; margin-bottom: 20px">
          <p style="margin: 0; padding: 0; display: inline-block">{{room.roomName}}</p>
          <p style="margin: 0; padding: 0; display: inline-block; float: right">{{room.slot}}</p>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>
  <div fxFlex="40%" class="right-panel" style="border-left: 1px solid rgba(0,0,0,.30)">
    <mat-list>
      <mat-list-item><button mat-raised-button (click)="openJoin('')">Join</button></mat-list-item>
      <mat-list-item><button mat-raised-button>Enter Key</button></mat-list-item>
      <mat-list-item><button mat-raised-button (click)="openCreate()">Create</button></mat-list-item>
    </mat-list>
  </div>
</div>



