<div style="background-color: #323232">
  <mat-list #chatList [scrollTop]="chatList.scrollHeight" style="height: 90vh;overflow-x: hidden; overflow-y: auto; -ms-word-break: break-all;word-break: break-all;: break-word; white-space: pre-line">
    <mat-list-item *ngFor="let message of chatData" style="color:white">
      {{message}}
    </mat-list-item>
  </mat-list>

  <mat-form-field>
  <input matInput #chat id="chat" type="text" (keyup.enter)="sendMessage(chat)" style="width: 70%; color:white">
  </mat-form-field>
  <button (click)="sendMessage(chat)" mat-raised-button style="width: 25%">Send</button>

</div>
