
.color-picker{
  width: 1.5rem;
  height: 1.5rem;
  padding: .5rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

#color-picker-wrapper{
  cursor: pointer;
}


.tool-box{
  background-color: rgba(0,0,0,0.15);
}

canvas{
  cursor: crosshair;
}
