<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" style="overflow: hidden">
    <div fxFlex="20%" class="left-panel"><app-user-list></app-user-list></div>
    <div fxFlex="60%" class="canvas-panel">
      <div fxLayout="column" fxLayoutAlign="center" style="height: 100%;">
        <div fxFlex="90%">
          <app-canvas></app-canvas>
        </div>
        <div fxFlex="10%">
          <app-toolbar></app-toolbar>
        </div>
      </div>
    </div>
    <div fxFlex="20%" class="right-panel"><app-chat></app-chat></div>
</div>

